---
# tasks file for ros_upgrade

- name: Get routeros facts
  community.routeros.facts:
    gather_subset: all

- name: print variable
  debug:
    msg: "{{ ansible_net_version.split(' ')[0] }}"

- name: Install RouterOS - Push
  include_tasks: ./push.yml
  when:
    - install_method == "push"
    - routeros_version is defined
    - ansible_net_version.split(' ')[0] is version(routeros_version, '!=')

- name: Install RouterOS - Download
  include_tasks: ./download.yml
  when:
    - install_method == "download"

- name: Check and Update Firmware
  include_tasks: ./firmware.yml

- name: Validate updates and results
  include_tasks: ./validate.yml
  when: validatation
